
@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @{ 
        string user = Convert.ToString(Session["Usuario"]);        
    }


</head>
<body>
    <div>
        <h2>Bienvenido: @user </h2>
        @*@RenderBody()*@
    </div>

    <footer>
        <center>
            <p>&copy; Haos</p>
        </center>
    </footer>

</body>
</html>

