USE [DBAPI]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 14/11/2023 11:21:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[DocumentoIdentidad] [varchar](60) NULL,
	[Nombres] [varchar](60) NULL,
	[Telefono] [varchar](60) NULL,
	[Correo] [varchar](60) NULL,
	[Ciudad] [varchar](60) NULL,
	[FechaRegistro] [datetime] NULL,
	[IdRol] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[USUARIO] ON 
GO
INSERT [dbo].[USUARIO] ([IdUsuario], [DocumentoIdentidad], [Nombres], [Telefono], [Correo], [Ciudad], [FechaRegistro], [IdRol]) VALUES (1, N'123456789', N'Juana', N'690577998', N'juanamercedes@gmail.com', N'Managua', CAST(N'2023-11-14T10:08:33.117' AS DateTime), 1)
INSERT [dbo].[USUARIO] ([IdUsuario], [DocumentoIdentidad], [Nombres], [Telefono], [Correo], [Ciudad], [FechaRegistro], [IdRol]) VALUES (2, N'910111213', N'Maria', N'227715469', N'mariap@gmail.com', N'Jinotega', CAST(N'2023-11-14T10:08:33.117' AS DateTime), 3)
INSERT [dbo].[USUARIO] ([IdUsuario], [DocumentoIdentidad], [Nombres], [Telefono], [Correo], [Ciudad], [FechaRegistro], [IdRol]) VALUES (3, N'781546697', N'Cristina', N'781245693', N'cristi@gmail.com', N'Leon', CAST(N'2023-11-14T10:08:33.117' AS DateTime), 2)

SET IDENTITY_INSERT [dbo].[USUARIO] OFF

ALTER TABLE [dbo].[USUARIO] ADD  DEFAULT (getdate()) FOR [FechaRegistro]

SET IDENTITY_INSERT [dbo].[USUARIO] OFF

--------------------------------

USE [DBAPI]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](60) NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 
GO
INSERT [dbo].[Roles] ([IdRol], [Descripcion], [FechaRegistro]) VALUES (1, N'Supervisor', CAST(N'2023-11-14T10:12:40.400' AS DateTime))
GO
INSERT [dbo].[Roles] ([IdRol], [Descripcion], [FechaRegistro]) VALUES (2, N'Arquitecto Software', CAST(N'2023-11-14T10:12:46.683' AS DateTime))
GO
INSERT [dbo].[Roles] ([IdRol], [Descripcion], [FechaRegistro]) VALUES (3, N'Desarrollador', CAST(N'2023-11-14T10:12:51.177' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO